*,*::after,*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.trigger{
    background-color: gray;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

.box{
    background-color: pink;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    transition: transform 300ms ease-in-out;
}

.trigger:hover .box {
    transform: translate(200px,150px) rotate(20deg);
}
.animate{
    transform: translate(200px,150px) rotate(20deg);
}